<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= message %></p>
  </body>
  <%= console.log(message) %>
  <script>
    window.onload = function () {
      history.pushState(null, null, null);

      window.addEventListener('popstate', function (e) {
        history.pushState(null, null, null);
        return;
      });
    };
  </script>
</html>
